table{
  border:0px;
  border-collapse:collapse;
}
th{
  text-align:left;
  border-bottom:1px solid #999;
  padding:0.4em;
}
td{
  border-bottom:1px solid #eee;
  padding:0.4em;
}
tr:last-child td{
  border-bottom:1px solid #999;
}
