<!DOCTYPE html>
<html>
<head>
    <title>fint</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
</head>
<body>
  <div id="container">
    <div id="header">
      <h1>fint</h1>
      <nav>
        <li class="report"><a href="report/index.html" title="Sample report files">sample</a></li>
        <li class="downloads"><a href="https://github.com/ksoichiro/fint/zipball/master" title="Download the latest zipball!">zip</a></li>
        <li class="downloads"><a href="https://github.com/ksoichiro/fint/tarball/master" title="Download the latest tarball!">tar</a></li>
      </nav>
      <a href="https://github.com/ksoichiro/fint"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
    </div>

    <div id="contents">
{{ content }}
    </div>
  </div>
</body>
</html>
