<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>fint result</title>
<link rel="stylesheet" type="text/css" href="@ROOTPATH@/css/main.css" />
<link rel="stylesheet" type="text/css" href="@ROOTPATH@/css/src.css" />
<script type="text/javascript" src="@ROOTPATH@/js/src.js"></script>
</head>
<body>
<div>
<h1><a href="@ROOTPATH@/index.html">fint report</a></h1>

<h2>Source File</h2>
<p>@SRCPATH@</p>

<h2>Result</h2>
<div id="srclist">
<table id="src">
<tbody>
@SRCLINES@
</tbody>
</table>
</div>
</body>
</html>
